<!-- Spinner -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-spin-fade" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<!-- End spinner -->

<!-- Map -->
<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29792.793018777746!2d105.7915922227579!3d21.02871931411004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3d6f50d0f1%3A0x6c47e39f2b434013!2sTh%E1%BB%9Di%20trang%20Mando!5e0!3m2!1svi!2s!4v1654700888203!5m2!1svi!2s"
    width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- End map -->

<!-- Contact Section Begin -->
<section class="contact spad pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="contact__text">
          <div class="section-title">
            <!-- <span class="text-danger">INFORMATION</span> -->
            <h2>Thông tin liên hệ</h2>
            <p>
              As you might expect of a company that began as a high-end
              interiors contractor, we pay strict attention.
            </p>
          </div>
          <ul class="p-0">
            <li>
              <h4>America</h4>
              <p>
                195 E Parker Square Dr, Parker, CO 801 <br />+43 982-314-0958
              </p>
            </li>
            <li>
              <h4>France</h4>
              <p>109 Avenue Léon, 63 Clermont-Ferrand <br />+12 345-423-9893</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="contact__form">
          <form action="#">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Name" />
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Email" />
              </div>
              <div class="col-lg-12">
                <textarea placeholder="Message" class="form-control"></textarea>
                <button type="submit" class="site-btn btn-dark">
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->
