<div class="container-fluid py-5">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">You May Also
      Like</span></h2>
  <div class="row px-xl-5">
    <div class="col">
      <div class="owl-carousel related-carousel owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div class="owl-stage"
            style="transform: translate3d(-1777px, 0px, 0px); transition: all 1s ease 0s; width: 4623px;">
            <div class="owl-item cloned" style="width: 326.55px; margin-right: 29px;">
              <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                  <img class="img-fluid w-100" src="../../../assets/img/product-2.jpg" alt="">
                  <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="text-center py-4">
                  <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                  <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5>
                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 326.55px; margin-right: 29px;">
              <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                  <img class="img-fluid w-100" src="../../../assets/img/product-3.jpg" alt="">
                  <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="text-center py-4">
                  <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                  <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5>
                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 326.55px; margin-right: 29px;">
              <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                  <img class="img-fluid w-100" src="../../../assets/img/product-4.jpg" alt="">
                  <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="text-center py-4">
                  <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                  <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5>
                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 326.55px; margin-right: 29px;">
              <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                  <img class="img-fluid w-100" src="../../../assets/img/product-5.jpg" alt="">
                  <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="text-center py-4">
                  <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                  <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5>
                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 326.55px; margin-right: 29px;">
              <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                  <img class="img-fluid w-100" src="../../../assets/img/product-1.jpg" alt="">
                  <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="text-center py-4">
                  <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                  <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5>
                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 326.55px; margin-right: 29px;">
              <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                  <img class="img-fluid w-100" src="../../../assets/img/product-2.jpg" alt="">
                  <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="text-center py-4">
                  <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                  <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5>
                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 326.55px; margin-right: 29px;">
              <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                  <img class="img-fluid w-100" src="../../../assets/img/product-3.jpg" alt="">
                  <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="text-center py-4">
                  <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                  <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5>
                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 326.55px; margin-right: 29px;">
              <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                  <img class="img-fluid w-100" src="../../../assets/img/product-4.jpg" alt="">
                  <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="text-center py-4">
                  <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                  <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5>
                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item active" style="width: 326.55px; margin-right: 29px;">
              <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                  <img class="img-fluid w-100" src="../../../assets/img/product-5.jpg" alt="">
                  <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="text-center py-4">
                  <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                  <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5>
                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 326.55px; margin-right: 29px;">
              <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                  <img class="img-fluid w-100" src="../../../assets/img/product-1.jpg" alt="">
                  <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="text-center py-4">
                  <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                  <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5>
                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 326.55px; margin-right: 29px;">
              <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                  <img class="img-fluid w-100" src="../../../assets/img/product-2.jpg" alt="">
                  <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="text-center py-4">
                  <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                  <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5>
                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 326.55px; margin-right: 29px;">
              <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                  <img class="img-fluid w-100" src="../../../assets/img/product-3.jpg" alt="">
                  <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="text-center py-4">
                  <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                  <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5>
                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 326.55px; margin-right: 29px;">
              <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                  <img class="img-fluid w-100" src="../../../assets/img/product-4.jpg" alt="">
                  <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="text-center py-4">
                  <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
                  <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>$123.00</h5>
                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small>(99)</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-nav disabled">
          <div class="owl-prev">prev</div>
          <div class="owl-next">next</div>
        </div>
        <div class="owl-dots">
          <div class="owl-dot active"><span></span></div>
          <div class="owl-dot"><span></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
