.tick-line p {
  padding-left: 25px;
  background: url(https://bizweb.sapocdn.net/100/438/408/themes/863105/assets/tick-line.svg) 0 4px no-repeat;
  margin-bottom: 5px;
}


ngb-rating {
  color: #FFC107;
  font-size: 32px;
}

.pro-details-rating ngb-rating {
  color: #FFC107;
  font-size: 20px;
}

.product-ratings-comments-view__no-data {
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rating-review {
  margin-top: -6px;
  margin-left: -22px;
  margin-right: 84px;

  /* position: absolute;
  margin: 16px 0px 0px 0px; */
}

.rating-review ngb-rating {
  color: #FFC107;
  font-size: 17px;
}

.review-content {
  margin-left: -45px;
}

.rating-time {
  position: absolute;
  padding: 13px;
  margin: 12px 0px 0px -13px
}

.single-review .review-bottom p {
  margin-top: 35px;
}
