<div class="slider-area">
  <div class="slider-active owl-carousel nav-style-1 owl-dot-none owl-loaded owl-drag">
    <div class="owl-stage-outer">
      <div class="owl-stage" style="
          transform: translate3d(-3038px, 0px, 0px);
          transition: all 0s ease 0s;
          width: 6080px;"></div>
        <owl-carousel-o [options]="bannerSlider">
          <ng-container *ngFor="let slide of slides">
            <ng-template carouselSlide>
              <div class="owl-item cloned" style="width: 1519.2px">
                <div class="single-slider slider-height-1 bg-purple">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-content slider-animated-1">
                          <h3 class="animated">MÙA HÈ SÔI ĐỘNG</h3>
                          <h1 class="animated">ƯU ĐÃI MÙA HÈ <br />BỘ SƯU TẬP 2022</h1>
                          <div class="slider-btn btn-hover">
                            <a class="animated" routerLink="/shop">MUA SẮM NGAY</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-single-img slider-animated-1">
                          <img class="animated" [src]="slide.img" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>

   <!--  -->
    </div>
    <!-- <div class="owl-nav">
      <button type="button" role="presentation" class="owl-prev">
        <i class="fa fa-chevron-left"></i>
      </button>
        <button type="button" role="presentation" class="owl-next">
        <i class="fa fa-chevron-right"></i>
      </button>
    </div> -->
    <!-- <div class="owl-dots">
      <button role="button" class="owl-dot active"><span></span></button><button role="button"
        class="owl-dot"><span></span></button>
    </div>
  </div> -->
  </div>
  <div class="suppoer-area pt-100 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="support-wrap mb-30 support-1">
            <div class="support-icon">
              <img class="animated" src="assets/img/icon-img/support-1.png" alt="" />
            </div>
            <div class="support-content">
              <h5>Miễn phí vận chuyển</h5>
              <p>Miễn phí vận chuyển cho tất cả các đơn hàng</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="support-wrap mb-30 support-2">
            <div class="support-icon">
              <img class="animated" src="assets/img/icon-img/support-2.png" alt="" />
            </div>
            <div class="support-content">
              <h5>Hỗ trợ bảo hành 24/7</h5>
              <p>Dễ dàng đổi, sửa sản phẩm tại cửa hàng</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="support-wrap mb-30 support-3">
            <div class="support-icon">
              <img class="animated" src="assets/img/icon-img/support-3.png" alt="" />
            </div>
            <div class="support-content">
              <h5>Hoàn trả tiền</h5>
              <p>Hoàn tiền khi đơn hàng hỏng, lỗi</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="support-wrap mb-30 support-4">
            <div class="support-icon">
              <img class="animated" src="assets/img/icon-img/support-4.png" alt="" />
            </div>
            <div class="support-content">
              <h5>Giảm giá đơn hàng</h5>
              <p>Nhiều chương trình giảm giá</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-area pb-60">
    <div class="container">
      <div class="section-title text-center">
        <h2>ƯU ĐÃI NỔI BẬT!</h2>
      </div>
      <div class="product-tab-list nav pt-30 pb-55 text-center">
        <a class="active" href="#product-1" data-bs-toggle="tab">
          <h4>SẢN PHẨM MỚI</h4>
        </a>
        <a  href="#product-2" data-bs-toggle="tab">
          <h4>BÁN CHẠY NHẤT</h4>
        </a>
      </div>
      <div class="tab-content jump">
        <div class="tab-pane active" id="product-1">
          <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6" *ngFor="let product of listProduct">
              <div class="product-wrap mb-25">
                <div class="product-img">
                  <a [routerLink]="['/product-detail/'+product.id]">
                    <img class="default-img" src="{{product.images}}" alt="" />
                    <img class="hover-img" src="{{product.images}}" alt="" />

                  </a>
                  <span class="pink">New</span>
                  <div class="product-action">
                    <div class="pro-same-action pro-wishlist">
                      <a title="Wishlist" href="wishlist.html"><i class="pe-7s-like"></i></a>
                    </div>
                    <div class="pro-same-action pro-cart">
                      <a title="Add To Cart" [routerLink]="['/product-detail/'+product.id]"><i class="pe-7s-cart"></i>
                        Xem chi tiết</a>
                    </div>
                    <div class="pro-same-action pro-quickview">
                      <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                          class="pe-7s-look"></i></a>
                    </div>
                  </div>
                </div>
                <div class="product-content text-center">
                  <h3><a [routerLink]="['/product-detail/'+product.id]">{{product.name}}</a></h3>
                  <div class="product-price">
                    <span style="color: #ee4d2d;">{{product.minPrice | vnd }}</span>
                    <span style="color: #ee4d2d;">{{product.maxPrice | vnd}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <pagination-controls class="text-center my-pagination" previousLabel="Trước" nextLabel="Sau"
          (pageChange)="pageChange((page = $event))">
        </pagination-controls>
        </div>

        <div class="tab-pane" id="product-2">
          <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6">
              <div class="product-wrap mb-25">
                <div class="product-img">
                  <a href="product-details.html">
                    <img class="default-img" src="assets/img/product/pro-1.jpg" alt="" />
                    <img class="hover-img" src="assets/img/product/pro-1-1.jpg" alt="" />
                  </a>
                  <span class="pink">-10%</span>
                  <div class="product-action">
                    <div class="pro-same-action pro-wishlist">
                      <a title="Wishlist" href="wishlist.html"><i class="pe-7s-like"></i></a>
                    </div>
                    <div class="pro-same-action pro-cart">
                      <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                    </div>
                    <div class="pro-same-action pro-quickview">
                      <a title="Quick View" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                          class="pe-7s-look"></i></a>
                    </div>
                  </div>
                </div>
                <div class="product-content text-center">
                  <h3><a href="product-details.html">Winter Zipper </a></h3>

                  <div class="product-price">
                    <span>$ 60.00</span>
                    <span class="old">$ 60.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
