<form w>
        <span>

          <h4 class="text-center mb-4">QUÊN MẬT KHẨU</h4>
        </span>
  <div class="mb-4 form-group">

    <input type="text" class="form-control" formControlName="email" id="email" placeholder="Vui lòng nhập email">
  </div>

  <button type="submit" class="w-100 mb-4" (click)="submit()">Xác nhận</button>
</form>
<p class="mb-0 text-center">Bạn chưa có tài khoản? <a (click)="signUp()" class="text-decoration-none"><u>Đăng
  ký</u></a>
</p>

<p class="mb-0 text-center mt-2"><a (click)="signIn()">
  < <u>quay lại</u>
</a></p>
