<form [formGroup]="resetForm">
  <span>
    <h3>Reset mật khẩu</h3>
    <p class=" mb-4">Mã OTP được gửi tới email của bạn...</p>
  </span>
  <div class="mb-2 form-group">
    <input type="text" class="form-control" formControlName="otp" placeholder="Mã OTP">
    <div *ngIf="f.otp.invalid&&(f.otp.dirty||f.otp.touched) ">
      <div *ngIf="f.otp.errors">
        <div *ngIf="f.otp.errors.required">
          <small>Vui lòng nhập mã OTP</small>
        </div>
      </div>
    </div>
  </div>
  <div class=" mb-2 form-group">
    <input type="password" class="form-control" formControlName="newPassword" placeholder="Mật khẩu mới">
    <div *ngIf="f.newPassword.invalid&&(f.newPassword.dirty||f.newPassword.touched) ">
      <div *ngIf="f.newPassword.errors">
        <div *ngIf="f.newPassword.errors.required">
          <small>Vui lòng nhập mật khẩu mới</small>
        </div>
        <div *ngIf="f.newPassword.errors.minlength">
          <small>Mật khẩu mới phải lơn hơn 6 kí tự</small>
        </div>
      </div>
    </div>
  </div>
  <div class=" mb-2 form-group">
    <input type="password" class="form-control" formControlName="dupPassword" placeholder="Nhập lại mật khẩu mới">
    <div *ngIf="f.dupPassword.invalid&&(f.dupPassword.dirty||f.dupPassword.touched) ">
      <div *ngIf="f.dupPassword.errors">
        <div *ngIf="f.dupPassword.errors.required">
          <small>Vui lòng nhập mật khẩu mới</small>
        </div>
        <div *ngIf="f.dupPassword.errors.minlength">
          <small>Mật khẩu mới phải lơn hơn 6 kí tự</small>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="w-100 mt-2">Xác nhận </button>
</form>
<p class="mb-0 text-center mt-1" (click)="back()"> <a>
    < <u>quay lại</u>
  </a></p>
