<div class="container" style="width:100%;height: 100%;">
  <div class="header" style="text-align: center;margin-top: 10px;margin-bottom: 20px;">
    <h3>Danh sách cửa hàng</h3>
  </div>
  <div class="left" style="width:50% ;float: left;padding-right:20px">
    <select style="width:45%;float: left;" class="form-select" aria-label="Default select example">
      <option selected>Tỉnh/Thành phố</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>

    <select style="width:50%;float: right" class="form-select" aria-label="Default select example">
      <option selected>Quận/Huyện</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>

    <div style="margin-top: 50px;">
      <select class="form-select" style="width:100%;" aria-label="Default select example">
        <option selected>Tìm kiếm cửa hàng</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <br>
    <h4>Cửa hàng({{count}})</h4>
    <div class="listLocation">
      <a class="item" *ngFor="let item of locations" (click)="uploadLocation(item)" >
        <div>
          <h3>Cơ sở {{item.id}}:</h3>
          {{item.addressName}}
          <br>
          Mở cửa: 9:30 - Đóng cửa: 21:30 <br>
          Hotline: {{item.hotline}}
        </div>
        <button class="location">Liên hệ Hotline</button>
        <button class="location">Xem chỉ đường</button>
        <hr>
      </a>
    </div>
  </div>



  <div class="right" style="width:50%;height:78%;float: left;border: 1px solid;">
    <iframe [src]="trustedDashboardUrl" width="100%" height="100%" style="border:1px;" allowfullscreen=""
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
