<div class="content">
  <form data-tg-refresh="checkout" id="checkoutForm" [formGroup]="checkoutForm" (ngSubmit)="checkout()">
    <input type="hidden" name="_method" value="patch"/>
    <div class="wrap">
      <main class="main">
        <header class="main__header">
          <div class="logo logo--center">
            <a href="/">
              <img
                class="logo__image logo__image--medium"
                alt="SPORT SHOP"
                src="../../../assets/img/logo/logo.png"
              />
            </a>
          </div>
        </header>
        <div class="main__content">
          <article class="animate-floating-labels row">
            <div class="col col--two">
              <section class="section">
                <div class="section__header">
                  <div class="layout-flex">
                    <h2
                      class="section__title layout-flex__item layout-flex__item--stretch"
                    >
                      <i
                        class="fa fa-id-card-o fa-lg section__title--icon hide-on-desktop"
                      ></i>
                      Thông tin mua hàng
                    </h2>
                  </div>
                </div>
                <div class="section__content">
                  <div class="fieldset">

                    <div class="field field--show-floating-label">
                      <div
                        class="field__input-wrapper field__input-wrapper--select2"
                      >
                        <label for="shippingProvince" class="field__label">Sổ địa chỉ<button class="btn-add_address" routerLink="/user/address">Thêm mới</button></label>
                        <select
                          name="saddress"
                          id="saddress"
                          type="text"
                          class="field__input field__input--select "
                          tabindex="-1"
                          aria-hidden="true"
                          (change)="onChangeAddress($event)"
                          formControlName="addressId"
                        >
                          <option value="" hidden>Chọn địa chỉ ...</option>
                          <option *ngFor="let a of address" [value]="a.id">
                            {{a?.nameOfRecipient}} , {{a?.combination}}
                          </option>

                        </select>
                      </div>
                    </div>

                    <div class="field">
                      <div class="field__input-wrapper">
                        <label for="billingName" class="field__label">Họ và tên</label>
                        <input
                          name="billingName"
                          id="billingName"
                          type="text"
                          class="field__input"
                          formControlName="name"
                          placeholder="Họ và tên"
                        />
                      </div>
                      <div *ngIf="f['name'].touched && f['name'].invalid">
                        <div *ngIf="f['name'].errors && f['name'].errors['required']">
                          <p class="field__message">Vui lòng nhập họ tên</p>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <div class="field__input-wrapper">
                        <label for="billingPhone" class="field__label">
                          Số điện thoại
                        </label>
                        <input
                          name="billingPhone"
                          id="billingPhone"
                          type="tel"
                          class="field__input"
                          formControlName="phone"
                          value=""
                          placeholder="Số điện thoại"
                        />
                      </div>
                      <div *ngIf="f['phone'].touched && f['phone'].invalid">
                        <div *ngIf="f['phone'].errors && f['phone'].errors['required']">
                          <p class="field__message">Vui lòng nhập số điện thoại</p>
                        </div>
                        <div *ngIf="f['phone'].errors && f['phone'].errors['pattern']">
                          <p class="field__message">Nhập sai định dạng SĐT</p>
                        </div>
                      </div>
                    </div>

                    <div class="field">
                      <div class="field__input-wrapper">
                        <label for="billingName" class="field__label">Email</label>
                        <input
                          placeholder="Email"
                          name="email"
                          id="email"
                          type="email"
                          formControlName="email"
                          class="field__input"
                        />
                      </div>
                      <div *ngIf="f['email'].touched && f['email'].invalid">
                        <div *ngIf="f['email'].errors && f['email'].errors['required']">
                          <p class="field__message">Vui lòng nhập email</p>
                        </div>
                        <div *ngIf="f['email'].errors && f['email'].errors['email']">
                          <p class="field__message">Email không đúng định dạng</p>
                        </div>
                      </div>

                    </div>

                    <div class="field">
                      <div class="field__input-wrapper">
                        <label for="billingAddress" class="field__label">
                          Địa chỉ
                        </label>
                        <input
                          name="billingAddress"
                          id="billingAddress"
                          type="text"
                          class="field__input"
                          formControlName="address"
                          placeholder="Địa chỉ"
                        />
                      </div>
                      <div *ngIf="f['address'].touched && f['address'].invalid">
                        <div *ngIf="f['address'].errors && f['address'].errors['required']">
                          <p class="field__message">Vui lòng nhập địa chỉ</p>
                        </div>
                      </div>
                    </div>

                    <div class="field field--show-floating-label">
                      <div
                        class="field__input-wrapper field__input-wrapper--select2"
                      >
                        <label for="shippingProvince" class="field__label"
                        >Tỉnh thành</label
                        >
                        <select
                          name="shippingProvince"
                          id="shippingProvince"
                          size="1"
                          formControlName="province"
                          type="text"
                          class="field__input field__input--select "
                          tabindex="-1"
                          aria-hidden="true"
                          (change)="onChangeProvince($event)"
                          [attr.disabled]="true"

                        >
                          <option value hidden>---</option>
                          <option *ngFor="let province of provinces" [value]="province.ProvinceID">
                            {{province.ProvinceName}}
                          </option>

                        </select>
                      </div>
                      <div *ngIf="f['province'].touched && f['province'].invalid">
                        <div *ngIf="f['province'].errors && f['province'].errors['required']">
                          <p class="field__message">Bạn chưa chọn tỉnh thành</p>
                        </div>
                      </div>
                    </div>

                    <div class="field field--show-floating-label">
                      <div
                        class="field__input-wrapper field__input-wrapper--select2"
                      >
                        <label for="shippingDistrict" class="field__label">
                          Quận huyện
                        </label>
                        <!-- [attr.disabled]="!checkoutForm.value.province ? '' : null" -->
                        <select
                          name="shippingDistrict"
                          id="shippingDistrict"
                          size="1"
                          type="text"
                          class="field__input field__input--select"
                          tabindex="-1"
                          aria-hidden="true"
                          formControlName="district"
                          (change)="onChangeDistrict($event)"
                          [attr.disabled]="true"
                        >
                          <option value>---</option>
                          <option *ngFor="let d of districts" [value]="d.DistrictID">
                            {{d.DistrictName}}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="f['district'].touched && f['district'].invalid">
                        <div *ngIf="f['district'].errors && f['district'].errors['required']">
                          <p class="field__message">Bạn chưa chọn quận huyện</p>
                        </div>
                      </div>
                    </div>

                    <div class="field field--show-floating-label">
                      <div
                        class="field__input-wrapper field__input-wrapper--select2"
                      >
                        <label for="shippingWard" class="field__label">
                          Phường xã
                        </label>
                        <!--  [attr.disabled]="!checkoutForm.value.district ? '' : null" -->
                        <select
                          name="shippingWard"
                          id="shippingWard"
                          size="1"
                          type="text"
                          class="field__input field__input--select"
                          tabindex="-1"
                          aria-hidden="true"
                          formControlName="ward"
                          (change)="onChangeWard($event)"

                          [attr.disabled]="true"
                        >
                          <option value>---</option>
                          <option *ngFor="let w of wards" [value]="w.WardCode">
                            {{w.WardName}}
                          </option>
                        </select>

                      </div>

                      <div *ngIf="f['ward'].touched && f['ward'].invalid">
                        <div *ngIf="f['ward'].errors && f['ward'].errors['required']">
                          <p class="field__message">Bạn chưa chọn phường xã</p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </section>
              <div class="fieldset">
                <h3 class="visually-hidden">Ghi chú</h3>
                <div class="field">
                  <div class="field__input-wrapper">
                    <label for="note" class="field__label">
                      Ghi chú (tùy chọn)
                    </label>
                    <textarea
                      name="note"
                      id="note"
                      type="text"
                      formControlName="note"
                      class="field__input"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col--two col--two2">
              <section class="section">
                <div class="section__header">
                  <div class="layout-flex">
                    <h2
                      class="section__title layout-flex__item layout-flex__item--stretch"
                    >
                      <i
                        class="fa fa-credit-card fa-lg section__title--icon hide-on-desktop"
                      ></i>
                      Thanh toán
                    </h2>
                  </div>
                </div>
                <div class="section__content">

                  <div *ngIf="f['paymentMethod'].touched && f['paymentMethod'].invalid">
                    <div *ngIf="f['paymentMethod'].errors && f['paymentMethod'].errors['paymentMethod']">
                      <div class="alert alert--danger">
                        Bạn cần chọn phương thức thanh toán
                      </div>
                    </div>
                  </div>

                  <div class="content-box">

                    <div class="content-box__row">
                      <div class="radio-wrapper">
                        <div class="radio__input">
                          <input
                            name="paymentMethod"
                            id="paymentMethod-482900"
                            type="radio"
                            class="input-radio"
                            formControlName="paymentMethod"
                            value="COD"
                          />
                        </div>
                        <label for="paymentMethod-482900" class="radio__label">
                          <span class="radio__label__primary"
                          >Thanh toán khi giao hàng (COD)</span
                          >
                          <span class="radio__label__accessory">
                            <span class="radio__label__icon">
                              <i class="fa fa-money"></i>
                            </span>
                          </span>
                        </label>
                      </div>

                      <div class="content-box__row__desc" id="payment_cod">
                        <p>
                          Khách hàng được kiểm tra hàng trước khi thanh toán
                          tiền cho bưu tá.
                        </p>
                      </div>
                    </div>

                    <div class="content-box__row">
                      <div class="radio-wrapper">
                        <div class="radio__input">
                          <input
                            name="paymentMethod"
                            id="paymentMethod-482899"
                            type="radio"
                            class="input-radio"
                            formControlName="paymentMethod"
                            value="ATM"
                          />
                        </div>
                        <label for="paymentMethod-482899" class="radio__label">
                          <span class="radio__label__primary"
                          >Chuyển khoản qua ngân hàng</span
                          >
                          <span class="radio__label__accessory">
                            <span class="radio__label__icon">
                              <i class="fa fa-money"></i>
                            </span>
                          </span>
                        </label>
                      </div>

                      <div class="content-box__row">
                        <p>Ngân hàng: MB Bank</p>
                        <p>Tên tài khoản: Nguyễn Văn Tuấn</p>
                        <p>Số tài khoản: 0359233895</p>
                        <p>Chi nhánh: Hà Nội</p>
                      </div>
                    </div>

                    <div class="content-box__row">
                      <div class="radio-wrapper">
                        <div class="radio__input">
                          <input
                            name="paymentMethod"
                            id="paymentMethod-4828999"
                            type="radio"
                            class="input-radio"
                            formControlName="paymentMethod"
                            value="VNPAY"
                          />
                        </div>
                        <label for="paymentMethod-4828999" class="radio__label">
                          <span class="radio__label__primary"
                          >Thanh toán qua VNPAY</span
                          >
                          <span class="radio__label__accessory">
                            <span class="radio__label__icon">
                              <i class="fa fa-money"></i>
                            </span>
                          </span>
                        </label>
                      </div>
                    </div>

                    <div class="content-box__row">
                      <div class="radio-wrapper">
                        <div class="radio__input">
                          <input
                            name="paymentMethod"
                            id="paymentMethod-4828999"
                            type="radio"
                            class="input-radio"
                            formControlName="paymentMethod"
                            value="ZALOPAY"
                          />
                        </div>
                        <label for="paymentMethod-4828999" class="radio__label">
                          <span class="radio__label__primary"
                          >Thanh toán qua ZALOPAY</span
                          >
                          <span class="radio__label__accessory">
                            <span class="radio__label__icon">
                              <i class="fa fa-money"></i>
                            </span>
                          </span>
                        </label>
                      </div>
                    </div>

                  </div>
                </div>
              </section>
            </div>
          </article>
          <div
            class="field__input-btn-wrapper field__input-btn-wrapper--vertical hide-on-desktop"
          >
            <button type="submit" class="btn btn-checkout spinner">
              <span class="spinner-label">ĐẶT HÀNG</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="spinner-loader">
                <use href="#spinner"></use>
              </svg>
            </button>

            <a routerLink="/cart" class="previous-link">
              <i class="previous-link__arrow">❮</i>
              <span class="previous-link__content">Quay về giỏ hàng</span>
            </a>
          </div>

          <div id="common-alert" data-tg-refresh="refreshError">
            <div class="alert alert--danger hide-on-desktop hide">
              Có lỗi xảy ra khi xử lý. Vui lòng thử lại
            </div>
          </div>
        </div>
      </main>
      <aside class="sidebar">
        <div class="sidebar__header">
          <h2 class="sidebar__title">Đơn hàng 2 sản phẩm</h2>
        </div>
        <div class="sidebar__content">
          <div
            id="order-summary"
            class="order-summary order-summary--is-collapsed"
          >
            <div class="order-summary__sections">
              <div
                class="order-summary__section order-summary__section--product-list order-summary__section--is-scrollable order-summary--collapse-element"
              >
                <table class="product-table">
                  <caption class="visually-hidden">
                    Chi tiết đơn hàng
                  </caption>
                  <thead class="product-table__header">
                  <tr>
                    <th>
                      <span class="visually-hidden">Ảnh sản phẩm</span>
                    </th>
                    <th>
                      <span class="visually-hidden">Mô tả</span>
                    </th>
                    <th>
                      <span class="visually-hidden">Sổ lượng</span>
                    </th>
                    <th>
                      <span class="visually-hidden">Đơn giá</span>
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let c of cart;let i = index">
                  <tr class="product">
                    <td class="product__image">
                      <div class="product-thumbnail">
                        <div
                          class="product-thumbnail__wrapper"
                          data-tg-static=""
                        >
                          <img
                            [src]="c.image"
                            alt=""
                            class="product-thumbnail__image"
                          />
                        </div>
                        <span class="product-thumbnail__quantity">{{c?.quantity}}</span>
                      </div>
                    </td>
                    <th class="product__description">
                      <span class="product__description__name">{{c?.productName}}</span>

                      <span class="product__description__property">{{c.colorName}} / {{c.sizeName}}</span>
                    </th>
                    <td class="product__price">{{c?.subtotal | vnd}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="order-summary__section order-summary__section--discount-code"
                   data-tg-refresh="refreshDiscount" id="discountCode">
                <h3 class="visually-hidden">Mã khuyến mại</h3>
                <div class="edit_checkout animate-floating-labels">
                  <div class="fieldset">
                    <div class="field">
                      <div class="field__input-btn-wrapper">
                        <div class="field__input-wrapper">
                          <label for="reductionCode" class="field__label">Nhập mã giảm
                            giá</label>
                          <input name="reductionCode" id="reductionCode" formControlName="coupon" type="text"
                                 class="field__input" autocomplete="off">
                        </div>
                        <button class="field__input-btn btn spinner btn--disabled"
                                type="button">
                          <span class="spinner-label">Áp dụng</span>
                          <svg xmlns="http://www.w3.org/2000/svg" class="spinner-loader">
                            <use href="#spinner"></use>
                          </svg>
                        </button>
                      </div>

                      <p
                        class="field__message field__message--error field__message--error-always-show hide">
                        Có lỗi xảy ra khi áp dụng khuyến mãi. Vui lòng thử lại</p>
                    </div>

                  </div>
                </div>
              </div>
              <div
                class="order-summary__section order-summary__section--total-lines order-summary--collapse-element"
                data-tg-refresh="refreshOrderTotalPrice"
                id="orderSummary"
              >
                <table class="total-line-table">
                  <caption class="visually-hidden">
                    Tổng giá trị
                  </caption>
                  <thead>
                  <tr>
                    <td><span class="visually-hidden">Mô tả</span></td>
                    <td><span class="visually-hidden">Giá tiền</span></td>
                  </tr>
                  </thead>
                  <tbody class="total-line-table__tbody">
                  <tr class="total-line total-line--subtotal">
                    <th class="total-line__name">Tạm tính</th>
                    <td class="total-line__price">{{totalPrice | vnd}}</td>
                  </tr>

                  <tr class="total-line total-line--shipping-fee">
                    <th class="total-line__name">
                      Phí vận chuyển
                    </th>
                    <td class="total-line__price">{{shipping?.totalShip | vnd}}</td>
                  </tr>
                  <tr class="total-line payment-due">
                    <th class="total-line__name">
                          <span class="payment-due__label-total">
                            Tổng cộng
                          </span>
                    </th>
                    <td class="total-line__price">
                      <span class="payment-due__price">{{total | vnd}}</span>
                    </td>
                  </tr>
                  </tbody>

                </table>
              </div>
              <div
                class="order-summary__nav field__input-btn-wrapper hide-on-mobile layout-flex--row-reverse">
                <button type="submit" class="btn btn-checkout spinner" [disabled]="checkoutForm.invalid">
                  <span class="spinner-label"></span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="spinner-loader"
                  >
                    <use href="#spinner"></use>
                  </svg>
                  ĐẶT HÀNG
                </button>

                <a href="/cart" class="previous-link">
                  <i class="previous-link__arrow">❮</i>
                  <span class="previous-link__content">Quay về giỏ hàng</span>
                </a>
              </div>

              <div id="common-alert-sidebar" data-tg-refresh="refreshError">
                <div class="alert alert--danger hide-on-mobile hide">
                  Có lỗi xảy ra khi xử lý. Vui lòng thử lại
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </form>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    <symbol id="spinner">
      <svg viewBox="0 0 30 30">
        <circle stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-dasharray="85%"
                cx="50%" cy="50%" r="40%">
          <animateTransform attributeName="transform" type="rotate" from="0 15 15" to="360 15 15" dur="0.7s"
                            repeatCount="indefinite"></animateTransform>
        </circle>
      </svg>
    </symbol>
  </svg>
</div>
